#ShitAllofPage{
  background-color: none;
  height:auto;
}
#shitUI{
  margin:auto;
  height:auto;
}

#shitDialog{
  margin: auto;
  /* width: 800px; */
  height: auto;
}
#shitDialog2{
  
  margin: auto;
  height: auto;
}

/* .owwDashboard{

} */

#kuy{
  margin-top: 100px;
}

#boxLeft{
  height:auto ;
}/*LeftBox*/

#boxRight{
  height:auto;
}/*RightBox*/

#shitCard{
  /* height:68em; */
  height:auto;
}/*GoldenBox*/

.verticalLine {
  margin-top:2em;
  margin-bottom:2em;
  border-left: 3px solid rgb(11, 41, 94);
  height: auto;
}/*VertLine*/
/* .horizonLine{
  margin-top:2em;
  border-left: 1px solid rgb(11, 41, 94);
  width: auto;
  border:3px solid rgb(11, 41, 94)
}HoriLine */

#center-col{
  flex: 1;
  overflow-y: scroll
}
#containerShit{
  display: flex;
  flex-direction: row;
  height: auto;
}/*ScrollBox*/

#parcelH1{
  margin-top:20px;
  color:white;
  background-color: rgb(11, 41, 94);
  border-radius: 2px 2px 50px;
}
.DoubleBox{
   border:1px solid rgb(83, 76, 76);
   border-radius: 2px;
}
#AlertButton{
  cursor: pointer;
  margin: 4px
}

#ShitTooltip{
  font-Size: "4em";
}

#ShitSnack{
  width :100%;
  height:100%;
   
}
