

#shitDialog{
  margin: auto;
  width: 800px;
  height: 1000px;
}
#shitDialog2{
  margin: auto;
  width: 800px;
  height: 1000px;
  border:1px solid red;
}

#ShitAllofPage{
  background-color: none;
  height:auto;
}

.owwDashboard{
  border:1px solid red;
}

#kuy{
  margin-top: 100px;
}

#boxLeft{
  height:auto ;
}/*LeftBox*/

#boxRight{
  height:77vh;
}/*RightBox*/

#shitCard{
  /* height:68em; */
  height:auto;
}/*GoldenBox*/

.vl {
  margin-top:2em;
  border-left: 3px solid blueviolet;
  height: 55em;
}/*VertLine*/

#center-col{
  flex: 1;
  overflow-y: scroll
}
#containerShit{
  display: flex;
  flex-direction: row;
  height: 77vh;
}/*ScrollBox*/

#parcelH1{
  margin-top:20px;
}